[Unit]
Description=LCD control for Teramon
After=network.target

[Service]
PIDFile=/var/run/teramon/teramon-lcd.pid
ExecStart=/usr/bin/python /usr/local/teramon/teramon-lcd.py
WorkingDirectory=/usr/local/teramon
Restart=on-failure

[Install]
WantedBy=multi-user.target