[Unit]
Description=Teramon - Measuring daemon
After=network.target

[Service]
Type=forking
PIDFile=/var/run/teramon/teramon.pid
ExecStart=/usr/bin/python /usr/local/teramon/teramon.py
Restart=on-failure

[Install]
WantedBy=multi-user.target